@import constants.registration.Constants
<h1>Welcome to Bike Sharing</h1>
<p>You're not logged in yet. <a href="@Constants.Root/login">login now</a> or <a href="@Constants.Root/register">register</a>.
</p>